/* * {
    border: 1px solid red;
} */

html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.bold {
    font-weight: 700;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}

nav {
    width: 100%;
    height: 50px;
    background: rgb(19, 19, 19);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;
}
nav ul {
    margin: 0px;
    display: flex;
    justify-content: center;
    list-style: none;
    z-index: 11;
}
nav a {
    display: flex;
    margin: 12px;
    padding: 4px;
    text-decoration: none;
    color: rgb(136, 136, 136);
    transition: transform 1s;
    animation: fade-down 1.5s 1 ease-in-out;
}
nav a:hover {
    transform: scale(1.2);
    color: #de7d29;
    border-bottom: 2px solid white;
}


#profile {
    animation: fade-in 2s 1 ease-in-out;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    padding-top: 12%;
    padding-bottom: 12%;
    background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2014&q=80');
    background-repeat: no-repeat;
    background-size: cover;

}
#prfimg {
    align-self: center;
    border: 5px solid white;
    border-radius: 100%;
    width: 18%;
}
#prfimg:hover {
    transition: 3s ease;
    transform: scale(1.1);
}
#profile div {
    margin: 0 auto;
    width: fit-content;
}
#profile p {
    position: relative;
    top: -20px;
}



#about .top {
    padding: 50px 20px 40px 20px;
    background-color: #de7d29;
}
#about {
    height: fit-content;
    max-height: 700px;
    overflow: hidden;
    z-index: 1;
}
.top {
    text-align: center;
}
.skillsimg {
    background-image: url('../images/logos.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height:  fit-content;
    width: 100%;
    max-width: 1000px;
    padding-top: 40%;
    margin: 0 auto;
    z-index: 1;
}
.skillsimg:hover {
    transition: 1s ease;
    background-image: url('../images/logosHOVER.png');
}


.projectscontainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}
#projects .top {
    margin: 0 auto;
    padding: 70px 20px 70px 20px;
    background-color: rgb(58, 144, 218);
}
#projectcontainer {
    padding: 10px;
    padding-top: 60px;
    text-align: center;
    transition: .5s ease;
}
#projectcontainer:hover {
    transform: scale(1.05);
}
#projectcontainer:hover p{
    opacity: 1;
}
#projectcontainer p {
    text-decoration: none;
    color: white;
    opacity: 1;
    font-size: 17px;
    width: 300px;
    opacity: 0;
    transition: 1s ease;
}
#javaracer {
    background-image: url('../images/java.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border: 5px solid white;
    opacity: .9;
}
#javaracer:hover {
    opacity: 1;
}

#InstantGrammer {
    background-image: url('../images/instant.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border: 5px solid white;
    opacity: .9;
}

#contact {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 30px;
    padding: 50px 20px 50px 20px;
    background-color: #de7d29;
    height: 200px;
}
#contactcontainer {
    margin: 0 auto;
    justify-content: space-around;
    max-width: 1000px;
    text-align: center;
    align-items: baseline;
}
#button {
    margin: 0 auto;
    width: fit-content;
    padding: 0px 5px 0px 5px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
#contact a {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 0px;
    text-decoration: none; 
}
#contact a h4 {
    padding: 0px;
    margin: 5px;
    padding: 2px;
}
#hide {
    opacity: 0;
}
#contact:hover ~ #hide {
    transition: 1s ease;
    opacity: 1;
}


@media(max-width: 500px) {
    #profile {
        padding-top: 10%;
        font-size: 15px;
        background-position-x: -10px;
    }
    #prfimg {
        width: 200px;
    }
    #about .top {
        padding-top: 10px;
    }
    .skillsimg {
        left: 0%;
    }
    nav {
        padding-top: 5px;
        font-size: 12px;
        top: 93%;
    }
    nav ul {
        margin-right: 10%;
    }
    nav a {
        font-size: 15px;
        padding: 0px;
    }
    #projectcontainer p {
        opacity: 1;
    }
}

@media(min-width: 2000px) {
    #prfimg {
        width: 300px;
    }
    nav {
        font-size: 20px;
        height: 60px;
        padding-top: 6px;
    }
    main {
        font-size: 110%:
    }
}


@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-down {
    0% {transform: translate(0px, 40px); color: black;}
}
